.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  .imagenheader {
    .imagenesh {
      width: 63px;
      height: 60px;
    }
  }

  .modos {
    border-radius: 61px;
    width: 148px;
    height: 43px;
    // font-weight: 900;
  }
  /*.lightmode {
    color: green;
    border: solid 1px white;
  }*/
  .darkmode {
    color: #6809e1;
    border: solid 1px #6809e1;
  }
  .darkmode:hover {
    background-color: rgb(80, 227, 194);
  }
}
