@import "../../Variable.scss";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  .imagenheader {
    .imagenesh {
      width: 63px;
      height: 60px;
    }
  }

  .modos {
    border-radius: 61px;
    width: 148px;
    height: 43px;
    font-weight: 900;
  }
  .darkmode {
    color: white;
    border: solid 1px white;
    background-color: $Negro;
  }
  .ligthmode {
    color: $Moradoligth;
    border: solid 1px $Moradoligth;
  }
  .ligthmode:hover {
    background-color: rgb(80, 227, 194);
  }
}
.HeaderNegro {
  background-color: $Negro;
}
.HeaderBlanco {
  background-color: $Blanco;
}
