@import "../../Variable.scss";
.CajaNegra {
  background-color: $Negro;
}
.CajaBlanca {
  background-color: $Blanco;
}

.Cajagifs {
  background-color: $GrisDark;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1% 15%;

  .Mensaje {
    text-align: center;
    width: 100%;
  }
  .TituloGifs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ModoN {
    color: $Blanco;
  }
  .ModoL {
    color: $Moradoligth;
  }
}
