@import "../../Variable.scss";
.Cajagifs {
  background-color: green;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1% 20%;

  .TituloGifs {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $Moradoligth;
  }
}
