//Estas son las variables de SASS
/* PASOS para cambiar el color de fondo
1. Crear unas variables con los colores principales del DOM
2. Guardar cada color en la variable
3. Utilizar las variables y reemplazar los colores
*/

$Moradoligth: #6809e1;
$Negro: #373636;
$Blanco: #fff;
$Gris: #eadddd;
